.folder_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 8px 0px;
}

.plus_minus_icon_container {
      display: flex;
      width: 25px;
      align-items: center;
      justify-content: flex-start;
}

.folder_content_container_show {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

.folder_content_container_no_show {
  display: none;
}

.folder_file_container {
  display: flex;
  align-items: center;
  height: 35px;
  margin-left: 25px;
}

.folder_name {
  color: white;
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 300;
}

.folder_name:hover {
  color: #aaaaaa;
}

.file_name {
  color: white;
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 300;
}

.folder_file_container [data-tree-indent] {
  display: inline-block;
  width: 30px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 11.5px,
    #333 11.5px,
    #333 12.5px,
    transparent 12.5px
  );
  background-repeat: no-repeat;
  vertical-align: top;
}

.folder_file {
  display: flex;
  padding: 5px 0px;
  align-items: center;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
